.app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .header {
    min-height: 75px;
  }

  .content {
    flex-grow: 1;
  }

  .footer {
    min-height: 50px;
  }
}