.done-item {

  &__header {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;

    @media(min-width: 768px) {
      font-size: 3.6rem;
    }
  }
}

.single-done {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;

  &__issue {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  &__deadline {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  @media(min-width: 768px) {

    &__issue,
    &__deadline {
      font-size: 1.6rem;
    }

    .btn {
      font-size: 1.6rem;
      padding: 10px 15px;
    }
  }
}